In [13]:
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt

In [17]:
df_raw = pd.read_csv('survey-responses.csv', sep=',', header=0, encoding='ascii', engine='python')
df_raw.head()

,Timestamp,Age Group,Area,No .of stationery shops near by,How do you rate the stationery shops nearby?,Which brands do you prefer?,Which services do you prefer?,Which of these items are not available in your locality?,Unnamed: 8
0,2/22/2018 12:18:47,20-60,Thane,10,4,"Sundaram, Classmate, Navneet, Camlin","Home delivery, Online services","Party decorations, College ceremonies, Greetin...",NaN
1,2/22/2018 12:29:22,20-60,Chembur,10,4,"Sundaram, Classmate, Navneet",Print,Files and Folders,NaN
2,2/22/2018 12:39:41,16-20,Kalyan,3,5,"Sundaram, Classmate, Navneet, Camlin, Others","Color xerox, Print, Home delivery, Online serv...",NaN,NaN
3,2/22/2018 14:26:11,20-60,Kalyan,3,4,"Sundaram, Classmate, Navneet",Print,NaN,NaN
4,2/22/2018 14:55:16,20-60,Kalyan,5,4,"Sundaram, Classmate, Camlin","Color xerox, Print, Lamination and Binding",NaN,NaN

In [18]:
df = df_raw.iloc[:,1:8]
df.head()

,Age Group,Area,No .of stationery shops near by,How do you rate the stationery shops nearby?,Which brands do you prefer?,Which services do you prefer?,Which of these items are not available in your locality?
0,20-60,Thane,10,4,"Sundaram, Classmate, Navneet, Camlin","Home delivery, Online services","Party decorations, College ceremonies, Greetin..."
1,20-60,Chembur,10,4,"Sundaram, Classmate, Navneet",Print,Files and Folders
2,16-20,Kalyan,3,5,"Sundaram, Classmate, Navneet, Camlin, Others","Color xerox, Print, Home delivery, Online serv...",NaN
3,20-60,Kalyan,3,4,"Sundaram, Classmate, Navneet",Print,NaN
4,20-60,Kalyan,5,4,"Sundaram, Classmate, Camlin","Color xerox, Print, Lamination and Binding",NaN

In [34]:
df['Age Group'].value_counts().plot.pie(figsize=(6,6), autopct='%.0f')

AttributeError: 'DataFrame' object has no attribute 'value_counts'